@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway&display=swap');

html,
body {
    height: 100%;
}
body {
    margin: 0;
    background: linear-gradient(45deg, #5eafab, #81a3be);
    font-family: 'Poppins', 'Raleway',  sans-serif;
}
.column_title{
    font-size: 20px;
}
.container {
    width: fit-content;
    margin: 0 auto;
}
table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
    text-align: center;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

thead th {
    background-color: #55608f;
}
tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
    position: relative;
}
tbody .button {
    background:#f2f2f2;
    padding: 4px 7px;
    border-radius: 5px;
    text-decoration: none;
    margin-inline: 5px;
}
tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

/*--Form--*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button] {
    width: 100%;
    background-color: #55608f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #45a049;
}

.form_container {
    display: block;
    margin: 10px;
    max-width: 300px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.main_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    flex-wrap: wrap;
}
.positioner{
    margin-left: 100px;
}

